/*
 Theme Name:   Zerif Lite Child Theme
 Description:  Zerif Lite Child Theme
 Author:       Milan Titaju
 Author URI:   http://example.com
 Template:     zerif-lite
 Version:      0.0.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  zerif-lite-child
*/
a:visited{
    color:#266046;
}
.row{
    width: -webkit-fill-available;
}
.navbar{
    background-color:#fff;
    border:none;
}
/* a:before{
    display:block;
    content:'#' !important;
} */


.navbar-brand > a > img {
    width: 100%;
    max-height: none;
}

.navbar-inverse .navbar-nav>li>a {
    color: #266046;
    font-size:16px;
    line-height: 50px;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #266046;
}

ul.nav > li.current > a:before, .home ul.nav > li.current-menu-item > a:before,.page ul.nav > li.current-menu-item > a:before, .single-post ul.nav > li.current-menu-item > a:before, .archive ul.nav > li.current-menu-item > a:before{
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 12.5%;
    width: 75%;
    height: 2px;
    margin: auto;
    background: #266046;
    content: "";
}

#main-nav {
    padding-bottom: 20px;
}

.header-content-wrap, .contact-us{
    background: rgba(0, 0, 0, 0.2);
}

.intro-text, .intro-text a {
    color: #ffffff;
    background-color: rgba(38, 96, 70, 0.5);
    border-radius: 5px;
}
.testimonial{
    background-color:#328180;
}
.about-us{
    /* background-color:#4f97a2; */
    background-color:#fff;
    color:#266046;
}

.about-us p{
    color:#266046 !important;
}

.about-us-content .readmore a{
    color:#266046;
}

.focus{
    background-color:#4f97a2;
}

.services-content .readmore a{
    color:#fff;
}


.entry-title, .entry-title a, .widget-title, .widget-title a {
    color: #266046;
    font-size: 20px;
    line-height: 22px;
}

.entry-title:before {
    position: absolute;
    z-index: 1;
    bottom: -9px;
    left: 0;
    width: 10%;
    height: 2px;
    margin: auto;
    background: #266046;
    content: "";
}
.entry-title:after {
    position: absolute;
    z-index: 1;
    bottom: -9px;
    left: 0;
    width: 10%;
    height: 2px;
    margin: auto;
    background: #266046;
    content: "";
}

.widget .widget-title {
    float: none;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-bottom: 5px;
    color: #266046;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
    text-transform: uppercase;
}
.widget .widget-title:before {
    position: absolute;
    z-index: 1;
    bottom: -9px;
    left: 0;
    width: 35%;
    height: 2px;
    margin: auto;
    background: #266046;
    content: "";
}

.services-container{
    /* color:#266046; */
    color:#fff;
}

.main-icon{
    font-size: 60px;
    display: inline-block;
    width: 100px;
    border: 2px solid;
    height: 100px;
    border-radius: 50px;
    line-height: 90px;
}

.focus, .about-us, .our-portfolio, #testimonials, .blog-section{
    padding: 30px 0px;
}

.section-header {
    padding-bottom: 0px;
    text-align: center;
}

.section-header h2{
    margin-top: 10px;
    font-size: 36px;
}

.section-header h2:after{
    display:block;
    width:75%;
    height:2px;
    padding:0px;
    margin:10px auto;
    content:'';
}

.services-header h2:after,
.testimonial-header h2:after,
.blog-header h2:after{
    background-color:#fff;
    content:'';
}

.about-us-header h2:after,
.our-portfolio h2:after{
    background-color:#266046;
    content:'';
}

.service-title{
    font-size:20px;
    margin-top: 15px;
}

.service-desc{
    font-size:15px;
    text-align: justify;
    max-height: 100px;
    overflow-y: hidden;
    margin: 15px 0px;
}

.about-us p{
    color:#fff;
    text-align: justify;
}
.readmore{
    margin-top:10px;
}
.readmore a{
    /* border:1px solid; */
}
.our-portfolio{
    background-color:#fff;
    color: #266046;
}

.about-us-content, .services-content, .portfolio-content{
    margin-top:15px;
}

.portfolio-content{
    min-height: 430px;
}

.view-all-wrap{
    margin-top:45px;
    margin-bottom: 20px;
}

.btn-clear{
    border:1px solid;
    padding:10px 20px;
    min-height: 430px;
}

.btn-clear-white{
    color:#fff;
}

.btn-clear-white:hover{
    color:#fff;
    text-decoration:none;
    box-shadow: 0px 0px 10px 0px #fff;
}

.portfolio-image-wrap figure{
    height:262.5px;
    width:100%;
    border:1px solid #ccc;
    overflow-y: hidden;
}

.portfolio-image-wrap figure img{
    width:100%;
}

.title-md{
    font-size:20px;
    margin-top:15px;
}

.desc-sm{
    margin: 15px 0px;
}

.portfolio-desc{
    text-align: center;
    color:#555;
    height: 35px;
    overflow-y: hidden;
}

.portfolio-content .readmore a{
    color:#266046;
}

.btn-clear{
    border:1px solid;
    padding:10px 20px;
}

.btn-clear-green{
    color:#266046;
}

.btn-clear-green a{
    color:#266046;
}

.btn-clear-green:hover{
    color:#266046;
    text-decoration:none;
    box-shadow: 0px 0px 10px 0px #266046;
}

#testimonials{
    color:#fff;
}
#testimonials .section-header h2{
    color: #fff;
}

#testimonials figure{
    border: 2px solid;
    display: inline-block;
    width: 170px;
    height: 170px;
    border-radius: 100px;
}

#testimonials figure .dummy-user{
    font-size: 100px;
}

.testimonial-information{
    width: 80%;
    margin: 10px auto;
}

.testimonial-information .tesmtimonial-title,
.testimonial-information .tesmtimonial-org,
.testimonial-information .testimonial-content
{
    margin-top:10px;
}

.testimonial-information .tesmtimonial-title{
    font-size:22px;
}

.testimonial-information .tesmtimonial-org{
    font-size:16px;
    color:#ccc;
    font-style: italic;
}

.testimonial-information .testimonial-content{

}

.carousel-control{
    z-index: 99;
}
.carousel-control.left{
    background-image: none;
}
.carousel-control.right{
    background-image: none;
}

.carousel-inner .item{
    height: auto;
}

.blog-section{
    background-color: rgba(0, 0, 0, 0.5);
}

.blog-information{
    background-color: #fff;
    border-radius: 2px;
    min-height: 350px;
    padding: 15px;
    min-height: 600px;
}

.blog-image-wrap{
    height: 300px;
    border:1px solid #ccc;
    background-color: #000;
}

.blog-information .blog-title{
    font-size: 16px;
    margin-top:10px;
    min-height: 45px;
}

.blog-information .blog-content{
    height: 190px;
    overflow-y: hidden;
    margin-top:10px;
    text-align: justify;
}

#footer-top{
    background-color: #162d2d;
    min-height: 230px;
    min-height: 140px;
}
.footer-col{
    padding-top:30px;
    padding-bottom: 30px;
}
.footer-icon{
    color:#ccc;
    font-size: 34px;
}
.footer-desc{
    color:#ccc;
}
.footer-social-links{
    background-color: #000;
    z-index: 98;
    right: 18px;
    position: absolute;
    width: 115%;
    top: 0;
    left: 15px;
    bottom: -125px;
    padding: 50px 0px;
    word-spacing: 36px;
}
#footer-bottom{
    color:#aaa;
    background-color: #102121;
    padding: 20px 0px 10px;
    z-index: 99;
    position: relative;
}
.social-icon{
    vertical-align: middle;
}
.social-icon a{
    color:#aaa;
    font-size: 24px;
}
.social-icon a:hover{
    text-decoration: none;
}
.text-white{
    color: #fff;
}

.transparent-dark-bg{
    background: rgba(0, 0, 0, 0.4);
}


#top-banner-all-page{
    height:200px;
    padding: 80px 0px;
}

.text-white{
    color:#fff;
}
.no-top-margin{
    margin-top:0px;
}
.no-bottom-margin{
    margin-bottom:0px;    
}
.inner-page-container{
    padding-top:10px;
}

.border-gray-sm{
    border: 1px solid #ccc;
}
.border-round{
    border-radius: 2px;
}

.border-green-sm{
    border: 1px solid #266046;
}

.border-green-lg{
    border: 2px solid #266046;
}

.border-circle{
    border-radius: 50%;
}
.page-title-main-bg{
    display: inline-block;
    background-color: rgba(38, 96, 70, 0.5);
    border-radius: 5px;
    z-index: 0;
    line-height: 65px;
    text-transform: uppercase;
    padding:2px 50px;
}

.page-title-main-bg h1{
    margin: 0px;
}

.page-title-main{
    font-size: 55px;
}

.post-row{
    margin-top:10px;
    margin-bottom:10px;
    text-align: left;
}

.custom_excerpt_link, .custom_excerpt_link:hover, .custom_excerpt_link:visited{
    color:#084f91;
}
.pagination{
    margin-bottom:20px;
}

.page-numbers, .page-numbers:hover, .page-numbers:visited{
    color:#162d2d;
    /* border-radius: 50%; */
    padding: 5px 10px;
    border: 1px solid #162d2d;
    text-decoration: none;
}
.page-numbers:hover{
    box-shadow: 0px 0px 10px 0px #266046;
}
.page-numbers.current{
    border: 1px solid #266046;
    box-shadow: 0px 0px 5px 0px #266046;

}
.page-numbers.prev, .page-numbers.next{
    border: none;
    box-shadow:none;
}

.btn-wrapper{
    margin:20px 0px;
}

.text-green{
    color:  #266046 !important;
}

.text-grey{
    color:#666 !important;
}

.page-bg-image{
    height:500px;
    background-position: center;
    background-size: cover;
}
.page-bg-image-top{
    height:500px;
    background-position: unset;
    background-size: cover;
}

.page-image-wrap img{
    margin:0px auto;
}

.contact-page{
    font-size: 20px;
}

.contact-content{
    padding:35px 145px;
    
}


.contact-map{
    height: 320px;
    background-size: cover;
    background-position: center;
}
.no-padding-left{
    padding-left: 0px !important;
}
.no-padding-right{
    padding-right: 0px !important;    
}
.no-padding-top{
    padding-top: 0px !important;    
}
.no-padding-bottom{
    padding-bottom: 0px !important;
}

.contact-page-subtitle{
    font-size:30px;
}
.contact-line{
    line-height: 50px;
}

.custom-label{
    font-weight: 600;
}
.contact-line .fa{
    height: 20px;
    width: 20px;
    border:1px solid;
    border-radius:50%;
    text-align: center;
    line-height: 18px;
}
@media screen and (min-width: 768px){
    .carousel-indicators {
        bottom: 0px;
    }
}

@media screen and (max-width: 480px){
    .contact-content{
        padding:35px 0px;
        
    }
}